@media screen and (min-width:0px) and (max-width: 876px) {

    .box{
        top: 56%;
        left: 45%;
        width: 93%;
        margin-bottom: 800px;
    };
    .inputBox {
        position: relative;
        width: 80%;
    }
    .inputUser {
        width: 80%
    }
    #obs {
        width: 80%;
    }
};