@media screen and (min-width:0px) and (max-width: 876px) {

    .box{
        top: 40%;
        left: 50%;
        width: 70%;
        margin-top: 100px
    };
    .inputBox {
        position: relative;
        width: 80%;
    }
    .inputUser {
        width: 80%
    }
    #obs {
        width: 80%;
    }
};